body{
	overflow-x: hidden !important;
	background-image:url("../images/fondo4.png");
}

#principal{
	overflow-x: hidden !important;
}

label,p{
	font-weight: bold !important;
	color: white !important;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}

#embebido {
    max-width: 100%;
    height: 500px !important;
}

button{
	margin-top: 10px !important;
	font-weight: bold !important;
	font-size: 0.7em !important;
}
div{
	margin-bottom: 10px;
}
